@use "header";

$main-font-color: orange;


body {
  display: grid;
  grid-template-rows: repeat(3,1fr);
  row-gap: 10rem;
}

main {
 background-color: blue;
 >h2{
  color: $main-font-color;
 }
 &:hover {
  box-shadow: 7px 5px 7px 0px $main-font-color;
 }
}

footer {
  background-color: aqua;
  >h2 {
    color: yellow;
  }
  &:hover{
    box-shadow: 0px 5px 7px 0px gray;
  }
}